# RENAME this file to test-properties.properties and change values
# DO NOT check passwords into git

# url of the Ni2 trouble ticket server
ni2.tt.server.url=http://localhost:8080

# username to access api
ni2.tt.server.username=username

# password to access api
ni2.tt.server.password=password

# if true the client will trust all TLS/HTTPS certificates from server
ni2.tt.server.trustallcertificates=true

# identify of the OpenNMS system sending tickets to the server
ni2.tt.opennms.instance=OpenNMS1

# resource id to be used if not passed in ticket attributes
ni2.tt.opennms.fallbackresource="set_fallback_resource";
